body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    font-color:purple;
    font-weight:300px;
    background:rgb(255, 255, 255);
 }

h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-color:purple;
}

 .logo {
  float:left;
  margin-left: 40px;
 }

 #hero-outer {
   height:600px;
   width:100%;
   overflow:hidden;
   position:relative;
 }

 /* Hero image */

 #hero-image {
   height:600px;
   width:100%;
   background:url('../images/hero-image.jpg') no-repeat center center;
   background-size:cover;
   background-position:center;
 }

/* Cover text */

#cover-text {
   color:purple;
   font-size:130%;
   font-family: arial;
   letter-spacing: 4px;

   width: 300px;
   height:200px;
   padding-top: 40px;
   padding-left: 10px;

   background-color:rgba(255, 232, 26, .3);

   bottom: 30px;
   left: 150px;

   position:absolute;
   }

 /* Navigation tabs */

#nav-links {
  list-style:none;
  text-align:center;
  margin: 0px;
  padding:0px;
}

#nav-links li {
  display:inline-block;
  padding:20px;
}

 .navigation div {
  display: none;
  text-align:center;
}

.navigation div:target {
  display: block;

}

/* Table */

table {
  margin:auto;
  width: 30%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid;
}

.table-docs  {
  list-style-type: none;
}